<div class="card">
  <h2>Skills</h2>
  <div class="progress mt-12">
    <label class="block" for="javascript">Javascript</label>
    <progress id="javascript" value="32" max="100">32%</progress>
  </div>
  <div class="progress mt-12">
    <label class="block" for="html">HTML</label>
    <progress id="html" value="64" max="100">64%</progress>
  </div>
  <div class="progress mt-12">
    <label class="block" for="japanese">Japanese</label>
    <progress id="japanese" value="100" max="100">100%</progress>
  </div>
  <div class="progress mt-12">
    <label class="block" for="english">English</label>
    <progress id="english" value="1" max="100">1%</progress>
  </div>
</div>
