<div class="experience-block flex mt-24">
  <div class="experience-period">
    <p>June 2008</p>
    <p>- June 2011</p>
  </div>
  <div class="experience-description inline-block">
    <p class="job-title">Army <span>/National Service</span></p>
    <p class="job-description-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sapiente ipsam delectus, itaque
      aut accusantium et ab? Voluptates perferendis voluptas adipisci, quis facilis dolor recusandae
      rem enim cupiditate sint expedita.
    </p>
  </div>
</div>
